@page
@model BME77.Pages.WorkshopModel

@{
    ViewData["Title"] = "Vietnam-United Kingdom Workshop";
}
<h2>@ViewData["Title"]</h2>
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="	d-none d-sm-block" >
                    ID
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Session[0].Name)
                </th>
                <th>
                   Room&bull;Time
                </th>
                @*<th>
                   Time
                </th>*@
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Session)
            {
                string selectedRow = "";
                if (item.ID == Model.SessionID)
                {
                    selectedRow = "table-success";
                }
                <tr class="@selectedRow">
                    <td class="	d-none d-sm-block">                       
                            @Html.DisplayFor(modelItem => item.ID_C)<br />                       
                    </td>
                    <td>
                        <a asp-page="./Workshop" asp-route-id="@item.ID">
                        @Html.DisplayFor(modelItem => item.Name)<br />
                        <i> @Html.DisplayFor(modelItem => item.Chair)</i>
                            </a>
                    </td>
                    <td>
                        @{ string roomid = "104";
                            if (!String.IsNullOrEmpty(item.Room))
                            {
                                if (item.Room.Contains("A2")) { roomid = item.Room.Split('.')[1]; } else { roomid = "1409"; }
                            }
                            ViewData["RoomID"] = roomid;
                        }
                        <a asp-page="/Room" asp-route-id="@ViewData["RoomID"]">  @Html.DisplayFor(modelItem => item.Room) </a><br />
                        @{
                            string timeType = "";
                            if ((item.TimeStart < DateTime.Now) && (item.TimeEnd > DateTime.Now))
                            {
                                timeType = "success";
                            }
                            else if (item.TimeStart > DateTime.Now)
                            {
                                timeType = "primary";
                            }
                            else
                            {
                                timeType = "secondary";
                            }
                        }
                        <span class="badge badge-@timeType">@item.TimeStart.ToString("dd MMM HH:mm")&rsaquo;@item.TimeEnd.ToString("HH:mm")</span>
                    </td>
                    @*<td>
                       
                    </td>*@
                

                </tr>
                <tr>
                    @if ((Model.Papers != null) && (item.ID == Model.SessionID))
                    {
                        <td colspan="5">
                            @if (Model.Papers != null)
                            {
                                //&& (item.ID == Model.SessionID))
                                <div style="font-size:smaller">
                                    <h5>Papers</h5>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Time
                                                </th>
                                                <th>
                                                    <u>Title</u> &amp; Authors
                                                </th>
                                                <th>
                                                    Full Text
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var itemx in Model.Papers)
                                            {
                                                <tr>
                                                    <td>

                                                        @{
                                                            string timeTypex = "";
                                                            if ((itemx.TimeStart < DateTime.Now) && (itemx.TimeEnd > DateTime.Now))
                                                            {
                                                                timeTypex = "success";
                                                            }
                                                            else if (item.TimeStart > DateTime.Now)
                                                            {
                                                                timeTypex = "primary";
                                                            }
                                                            else
                                                            {
                                                                timeTypex = "secondary";
                                                            }

                                                        }
                                                        <span class="badge badge-@timeTypex">@itemx.TimeStart.ToString("HH:mm")&rsaquo;@itemx.TimeEnd.ToString("HH:mm")</span>
                                                    </td>
                                                    <td>
                                                        <b> @Html.DisplayFor(modelItem => itemx.Title)</b> <br />
                                                        @Html.DisplayFor(modelItem => itemx.Author)
                                                    </td>
                                                    <td>
                                                        @if (!String.IsNullOrEmpty(itemx.Abstract))
                                                        {
                                                            <a asp-page="/PaperPage/Details" asp-route-id="@itemx.ID">Abstract</a><br />
                                                        }

                                                        @{
                                                            if (!String.IsNullOrEmpty(itemx.FullTextLink))
                                                            {
                                                                <a href=@itemx.FullTextLink>Full Text</a>
                                                            }
                                                        }

                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </td>

                    }

                </tr>
            }
        </tbody>
    </table>
</div>
